.valert {
	position: fixed;
	top: 50px;
	right: -1px;
	background: #80f180;
	min-width: 300px;
	color: #333;
	padding: 15px;
	border: 1px solid green;
	border-radius: 10px 0px 0px 10px;
	opacity: 1;
	display: none;
	transition: opacity.3s;
}

.vivoo {
	animation: vivoo .3s;
}

@keyframes vivoo {
	0% {
		right: -100px;
		top: 120px;
		background: transparent;
	}
	100% {
		right: 1px;
		top: 50px;
		background: #80f180;
	}
}